<!DOCTYPE html>
{% include 'quiz/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class</title>
</head>
<body>
    <h1>{{class_obj.class_name}}</h1>
    <hr>
    <br>
    <h2>Teacher</h2>
    <ul>
        {% for each_teacher in teacher_list %}
            <li>{{each_teacher}}</li>
        {% endfor %}
    </ul>
    <hr>
    <br>
    <h2>Student</h2>
    {% for each_student in student_list %}
        <li>{{each_student}}</li>
    {% endfor %}    
</body>
</html>