{% extends "./base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    {% if type == 'quiz_form' %}
    {% if request.user.job.status == 'teacher' %}
    <h1>Form</h1>
    <form method="POST">
        {% csrf_token %}
        {{ quiz_form|crispy }}
        {% for class in class_list %}
        <input type="checkbox" name="classList" value="{{class.id}}">
        <label for="{{class.class_name}}">{{class.class_name}}</label>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
    {% elif type == 'quiz_view' %}
    <h1>{{quiz_obj.title}}</h1>
    <h4 class="text-secondary">{{quiz_obj.description}}</h3>
        {% if request.user.job.status == 'teacher' %}
        {% if quiz_obj.make_visible == True %}
        {% if quiz_obj.answer_available == False %}
        <a class="btn btn-primary" role="button" href="{% url 'quiz:quizAnswerVisible' quiz_obj.id %}">Make Answers of
            the quiz
            visible for students</a>
        {% endif %}
        {% endif %}
        {% if quiz_obj.make_visible == False %}
        <a class="btn btn-danger" role="button" href="{% url 'quiz:deleteQuiz' quiz_obj.id %}">Delete Quiz</a>
        {% endif %}
        <br>
        <br>
        <!-- Questions preview  -->
        <div class="container">
            <div class="row">
                {% for question, option in teacher_question_list %}
                <div class="col-md-3 border">
                    <br>
                    <b>{{question.question}}</b>
                    {% if question.figure %}
                    <img class="d-block img-fluid   " width="150" height="150" src="{{question.figure.url}}" alt="">
                    {% endif %}
                    <br>
                    {% if quiz_obj.make_visible == False %}
                    <a class="text-danger" href="{% url 'quiz:deleteQuestion' question.id %}"><i
                            class="fa fa-trash"></i></a>
                    {% endif %}
                    <br>
                    <strong>Answer: </strong>{{question.answer}}
                    <br>
                    {% if option %}
                    <strong>Options: </strong>
                    <ul>
                        {% for each in option %}
                        <li>{{each.options}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <a class="btn btn-success" href="{% url 'quiz:studentQuizResult' quiz_obj.id %}">Student score</a>
        {% if quiz_obj.make_visible == False %}
        <h2>Add Question</h2>
        <span class="text-danger">You cannot edit quiz once it is live. </span><a class="btn btn-outline-primary"
            href="{% url 'quiz:makeQuizVisible' quiz_obj.id %}">Make Quiz Visible to
            students</a>
        <form action="{% url 'quiz:questionFormSubmit' quiz_obj.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ question_form|crispy }}
            {{ options_form|crispy }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {% endif %}
        {% else %}
        <div id="replaceable-content">
            {% include 'quiz/questionForm.html' %}
        </div>
        {% endif %}
        {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const questions_div = $('#replaceable-content')
    let endpointNextQuestion = '/quiz/check_answer/{{question_obj.id}}'

    function ajax_check() {
        let checked_array = '';
        $("input:checkbox[name=optionList]:checked").each(function () {
            checked_array = checked_array + $(this).val() + ',';
        });
        let inpuText = $('#answer').val()
        $.ajax({
            type: 'GET',
            url: endpointNextQuestion,
            data: { 'checked_array': checked_array, 'inputText': inpuText },
            success: function (response) {
                let quiz_id = response['quiz_id']
                if (quiz_id != null) {
                    window.location.reload();
                }
                questions_div.html(response['html_from_view']);
                alert(response['result']);
                endpointNextQuestion = '/quiz/check_answer/' + String(response['id'])
            },
            error: function (response) {
                alert("Ajax Error");
            }
        });
    }

</script>
{% endblock %}