<!DOCTYPE html>
{% load crispy_forms_tags %}
{% include 'quiz/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    {% if type == 'quiz_form' %}
        {% if request.user.job.status == 'teacher' %}
        <h1>Form</h1>
        <form method="POST" >
            {% csrf_token %}
            {{ quiz_form|crispy }}
            {% for class in class_list %}
                <input type="checkbox" name="classList" value="{{class.id}}">
                <label for="{{class.class_name}}">{{class.class_name}}</label>
            {% endfor %}
            <button type="submit">Submit</button>        
        </form>
        {% endif %}
    {% elif type == 'quiz_view' %}
        <h1>{{quiz_obj.title}}</h1>
        <h3>{{quiz_obj.description}}</h3>
        {% if request.user.job.status == 'teacher' %}   
            <br>
            {% for question, option in teacher_question_list %}
                <br>
                Question{{forloop.counter}}:{{question.question}}
                <br>                
                Answer:{{question.answer}}
                <br>
                {% if option %}
                    Options:
                    {% for each in option %}
                        {{each.options}}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <br>     
            <!-- {% if quiz_obj.make_visible == False %} -->
                <h2>Add Question</h2>
                <a href="{% url 'quiz:makeQuizVisible' quiz_obj.id %}"><button>Make Quiz Visible to students</button></a>
                <form action="{% url 'quiz:questionFormSubmit' quiz_obj.id %}" method="POST">
                    {% csrf_token %}
                    {{ question_form|crispy }}
                    {{ options_form|crispy }}
                    <button type="submit">Submit</button>        
                </form>
            <!-- {% endif %} -->
        {% else %}
            <div id="replaceable-content">
                {% include 'quiz/questionForm.html' %}                
            </div>
        {% endif %}
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        const questions_div = $('#replaceable-content')
        const result = document.getElementById('result')
        const endpointNextQuestion = '/quiz/view_quiz/{{quiz_obj.id}}'
        const endpointCheckAnswer = '/quiz/check_answer/{{question_obj.id}}'

        function ajax_next(){
            $.getJSON(endpointNextQuestion).done(response => {
                    questions_div.html(response['html_from_view'])
            });                 
        }
        
        function ajax_check() {  
            let checked_array = '';
            $("input:checkbox[name=optionList]:checked").each(function(){                
                checked_array = checked_array + $(this).val() + ',';
            });     
            $.ajax({
                type : 'GET',
                url : endpointCheckAnswer,
                data : {'checked_array':checked_array},
                success : function (response) {
                    questions_div.html(response['html_from_view']);
                    result.innerHTML = response['result']
                    console.log(result)                     
                },
                error : function(response) {
                    alert("Ajax Error");
                }
            });
        }

    </script>

</body>
</html>