<h3>{{question_obj.question}}?</h3>
{% if question_obj.figure %}
<img class="d-block img-fluid" width="200" height="200" src="{{question_obj.figure.url}}" alt="">
{% endif %}
<br>
{% if option_list %}
{% for option in option_list %}
{% if question_obj.multiple_answer == True %}
<input type="checkbox" name="optionList" value="{{option}}">
{% else %}
<input type="radio" name="optionList" value="{{option}}">
{% endif %}
<label>{{option}}</label>
<br>
{% endfor %}
{% else %}
<input placeholder="answer" name="inputText" id="answer" type="text">
{% endif %}
<button class="btn btn-sm btn-outline-primary" onclick="ajax_check()" type="button">Next question</button>