<h3>Question</h3>
{{question_obj.question}}?   
{{question_obj.id}}?   
<br>     
<!-- <form action="" method="GET"> -->
    {% if option_list %}
        {% for option in option_list %}    
            <input type="checkbox" name="optionList" value="{{option}}" >
            <label>{{option}}</label>    
            <br>
        {% endfor %}                
    {% else %}
        <input placeholder="answer" name="inputText" id="answer" type="text">    
    {% endif %} 
    <button  onclick="ajax_check()" type="button">Next question</button>
<!-- </form> -->
<br>
<hr>
<br>