{% extends "./base.html" %}

{% block content %}

<div class="container">
    <h2>{{quiz_obj.title}}</h2>
    {% if request.user.job.status == 'student' %}
    <h3>Score : {{stud_quiz_info_obj.score}}/{{quiz_obj.total_questions}}</h3>    
    {% else %}
    <span class="text-danger">Owner of this quiz is not you,Hence you 
        cannot make any changes also options will not be visible for you.        
    </span>
    {% endif %}

    {% for question in quesion_list %}
    <div class="col-md-6">
        {{forloop.counter}})Question: <b>{{question.question}}</b>
        {% if question.figure %}
        <img class="d-block img-fluid   " width="150" height="150" src="{{question.figure.url}}" alt="">
        {% endif %}
        <br>
        Answer: <strong>{{question.answer}}</strong>
        <br>
    </div>
    {% endfor %}

</div>

{% endblock %}