<!DOCTYPE html>
{% load crispy_forms_tags %}
{% include 'quiz/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <form method="GET" action="">
        <p>{{question_obj.question}}</p>
        {% for option in option_list %}
            <input type="radio" name="{{option_forloop.counter}}" value="{{option}}" id="">
            <label for="{{option_forloop.counter}}">{{option}}</label>
        {% endfor %}
    </form>
</body>
</html>