{% block content  %}
<div class="container">
    <h3>Results</h3>
    <ul class="list-group">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student name</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user, student in student_list %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{user.username}}</td>
                    <td><span class="text-success">{{student.score}}</span>/{{quiz_obj.total_questions}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
</div>
{% endblock %}